<%- include ("../partial/_header.ejs"); %>
<div style="text-align:center">
    <div class="text-box-custom">
        <h1 class="display-1">Zion Lutheran Church</h1>
        <h1 class='display-2'style='position: relative;top:5vh;'>Our Mission:</h1>
        <p class="lead display-4" style='position: relative;top:5vh;'>We are happy to announce that we will be supporting the following missions with proceeds from this year’s Apple Harvest fritter booth.</p>
        <ul style='position: relative;top:5vh;'>
        <li class="lead text-muted">Prudence Crandall Center</li>
        <li class="lead text-muted">Southington Community Services</li>
        <li class="lead text-muted">Bread for Life</li>
        <li class="lead text-muted">The Cove Center for Grieving Children</li>
        <li class="lead text-muted">Local Veterans’ Groups</li>
        </ul>
    </div>

</div>

<%- include ("../partial/_footer.ejs"); %>