<%- include ("../partial/_header.ejs"); %>
<%- include ("../partial/_aboutheader.ejs"); %>
<div style="text-align:center;">
    <div class=" rounded col-12 mt-5 text-box-custom">
        <h1 class="display-1 aboutcont d-none d-lg-block ">Zion Lutheran Church</h1>
        <h1 class='aboutcont display-2'style='top:5vh;'>Our Mission:</h1>
        <p class="aboutcont lead display-4" style='top:5vh;'>We are happy to announce that we will be supporting the following missions with proceeds from this year’s Apple Harvest fritter booth.</p>
        <ul style='top:5vh; text-align:left;' class="aboutcont mt-5 ml-5">
        <li class="lead " style="font-size:large;">Prudence Crandall Center</li>
        <li class="lead " style="font-size:large;">Southington Community Services</li>
        <li class="lead " style="font-size:large;">Bread for Life</li>
        <li class="lead " style="font-size:large;">The Cove Center for Grieving Children</li>
        <li class="lead " style="font-size:large;">Local Veterans’ Groups</li>
        </ul>
        
        <h1 class='aboutcont display-2 pt-5' style="top:4vh;">Contact:</h1>
     <ul style='top:5vh; text-align:left;' class="aboutcont mt-5 ml-5">
<li class="lead " style="font-size:large;"><span class="glyphicon glyphicon-phone-alt"></span> (860) 628-5759</li>
<li class="lead " style="font-size:large;"><span class="glyphicon glyphicon-home"></span> 531 Woodruff St, Southington, CT 06489</li>
</ul>
    </div>

</div>

<%- include ("../partial/_footer.ejs"); %>