<%- include ("../partial/_header.ejs"); %>
<%- include ("../partial/_aboutheader.ejs"); %>
<div style="text-align:center;">
    <div class=" rounded col-12 mt-5 text-box-custom">
        <h1 class="display-1 aboutcont d-none d-lg-block ">Zion Lutheran Church</h1>
        <h1 class='aboutcont display-2'style='top:5vh;'>Our Mission:</h1>
        <h1 class='aboutcont display-2 pt-5' style="top:4vh;">To Live by Faith, Be Known by Love and Be a Voice of Hope</h1><br>
        <h1 class='aboutcont display-2 pt-5' style="top:4vh;">Donations:</h1>

        <p class="aboutcont lead display-4" style='top:5vh;'>We are happy to announce that we will be supporting the following missions with proceeds from this year’s Apple Harvest fritter booth:</p>
        <ul style='top:5vh; text-align:left;' class="aboutcont mt-5 ml-5">
        <li class="lead " style="font-size:large;">Prudence Crandall Center</li>
        <li class="lead " style="font-size:large;">Southington Community Services</li>
        <li class="lead " style="font-size:large;">Bread for Life</li>
        <li class="lead " style="font-size:large;">The Cove Center for Grieving Children</li>
        <li class="lead " style="font-size:large;">Local Veterans’ Groups</li>
        </ul>
        
        <h1 class='aboutcont display-2 pt-5' style="top:4vh;">Contact:</h1>
     <ul style='top:5vh; text-align:left;' class="aboutcont mt-5 ml-5">
<li class="lead " style="font-size:large;"><span class="glyphicon glyphicon-phone-alt"></span> (860) 385-1749</li>
<li class="lead " style="font-size:large;"><span class="glyphicon glyphicon-home"></span> 531 Woodruff St, Southington, CT 06489</li>
<li class="lead " style="font-size:large;"><img src="images/fork.png" height=23;/>5 Main St Southington, CT 06489</li>

</ul>
<h1 class='aboutcont display-2 pt-5' style="top:4vh;">Our Story:</h1>

<h1 class='aboutcont display-4 pt-5 ml-5 mr-5' style="top:4vh;">The story begins in 1969 when someone gave a 50 lb. bag of flour to pastor and Mrs. Steinke.<br> Mrs. Steinke suggested that the congregation make apple fritters to sell at Southington's new Apple Harvest Festival.<br> Pastor Steinke asked Dot Czarnota about the idea, knowing full well how she liked to bake.<br>

    Dot first tried making the fritters with apple rings, then apple chunks, then wedges, but these failed to pass Pastor and Mrs. Steinke’s taste test.<br> After a number of tries, she created a new recipe.<br> Dot then baked a batch of fritters for the congregation to try at their annual picnic.<br> Everyone enjoyed the fritters and agreed to give the apple fritters project their support!<br> During the early years, the apple peeling and the flour mixing was done at Dot’s home.
    
    <br>The fritters were sold for ten cents each and soon these delicious fritters became the hit of the Apple Harvest Festival.<br> Over the years, several mechanical innovations were introduced to make the fritter business easier and more efficient, but the recipe has remained the same.</h1>

    </div>

</div>

<%- include ("../partial/_footer.ejs"); %>