<%- include ("../partial/_header.ejs"); %>
<div style="text-align:center">
    <div class="container">

        <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0 d-lg-none ">Zion Lutheran Church</h1>
      
        <hr class="mt-2 mb-5">
      
        <div class="row text-center text-lg-left">
      
          <div class="    col-6 ">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/one.jpg" alt="1">
                </a>
          </div>
          <div class="    col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/two.png" alt="2">
                </a>
          </div>
          <div class="    col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/Three.jpg" alt="3">
                </a>
          </div>
          <div class="    col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/four.jpg" alt="4">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/five.jpg" alt="5">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100"  src="images/six.jpg" alt="6">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/seven.jpg" alt="7">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/eight.jpg" alt="8">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/nine.jpg" alt="9">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/ten.jpg" alt="10">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/eleven.jpg" alt="11">
                </a>
          </div>
          <div class="   col-6">
            <a href="#" class="d-block mb-4 h-100">
                  <img class="img-fluid img-thumbnail w-100 h-100" src="images/twelve.jpg" alt="12">
                </a>
          </div>
        </div>
      
      </div>
    
</div>

<%- include ("../partial/_footer.ejs"); %>