<%- include ("../partial/_header.ejs"); %>
<%- include ("../partial/_indexheader.ejs"); %>

    <h1 class="display-1 " style="margin-top: 25%; color:white; text-shadow: 2px 2px #0000008f">"Even if I knew that tomorrow the world would go to pieces I would still plant my apple tree"    ~Martin Luther</h1>
      
    

<%- include ("../partial/_footer.ejs"); %>