<%- include ("../partial/_header.ejs"); %>
<div style="text-align:center">
    <h1 class="d-none d-sm-block">Zion Lutheran Church</h1>
    <div style="position: relative; top:30vh;">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2LAk85tl8rgi0yOgWzqPjd87W2joySvzI0w_12YJig7GI1cs8&usqp=CAU" class="rounded float-left"/>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2LAk85tl8rgi0yOgWzqPjd87W2joySvzI0w_12YJig7GI1cs8&usqp=CAU" class="rounded"/>

    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR2LAk85tl8rgi0yOgWzqPjd87W2joySvzI0w_12YJig7GI1cs8&usqp=CAU" class="rounded float-right"/>
    </div>
</div>

<%- include ("../partial/_footer.ejs"); %>