<%- include ("../partial/_header.ejs"); %>
    <div class="container">
        <div class="row" style="position: relative; top:10vh" >
            
            <div class="d-none d-lg-block col-sm-3 col-md-3 col-lg-4"></div>
            <div class="d-none d-lg-block col-sm-6 col-md-6 col-lg-4" style="text-align:center;background-color: white; height: 50vh; box-shadow: 0vh 0vh .5vh .1vh grey; border-radius:2%">
                <div class="form-group" style="position:relative;top:5vh;">
                    <label style="font-size:2vh;" for="usr">Email:</label>
                    <input style="height: 4vh;font-size:2vh;" type="text" class="form-control" id="usr">
                  </div>
                  <div class="form-group" style="position:relative;top:7vh;">
                    <label style="font-size:2vh;"for="pwd">Pin:</label>
                    <input style="height: 4vh; font-size:1.5vh;"type="password" class="form-control" id="pwd">
                    <a style=" font-size:medium; position: relative; top:5vh; padding:3%; border-radius:2vh; color:black; box-shadow: 0vh 0vh .5vh .1vh grey;" href="Temp"><span class="glyphicon glyphicon-pencil"></span> Login</a>

                  </div> 
                  <a style=" font-size:medium; position: relative; top:20vh; padding:3%; border-radius:2vh; color:black; box-shadow: 0vh 0vh .5vh .1vh grey;" href="Temp"><span class="glyphicon glyphicon-pencil"></span> New? click here to Signup</a>
            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-3 col-lg-4 "></div>

        </div>

    </div>

<%- include ("../partial/_footer.ejs"); %>