<%- include ("../partial/_header.ejs"); %>
<%- include ("../partial/_loginheader.ejs"); %>
    <div class="container">
        <div class="row" style="position: relative; top:10vh" >
            
            <div class=" col-md-0 col-lg-4"></div>
            <div id="loginForm" class=" col-md-12 col-lg-4 formCustom" style="height:500px">
            <form >
                <div class="form-group" style="position:relative;top:5vh;">
                    <label style="font-size:20px;" for="usr">Email:</label>
                    <input style="height: 42px;font-size:20px;background-color:rgba(255, 255, 255, 0.74);" type="text" class="form-control" id="email">
                  </div>
                  <div class="form-group" style="position:relative;top:7vh;">
                    <label style="font-size:20px;"for="pwd">Pin:</label>
                    <input style="height: 42px; font-size:20px;background-color:rgba(255, 255, 255, 0.74);"type="password" class="form-control" id="password">
                    <a class='login' onclick="login(event)"><span class="glyphicon glyphicon-pencil mb-5"></span> Login</a><br>
                    <a onclick="loadForgotPassword()" class='login'style="  "><span class="glyphicon glyphicon-pencil mb-5 mt-5"></span> Forgot Pin?</a><br>
                    <a onclick="location.replace('/signup')" class='login'style="  "><span class="glyphicon glyphicon-pencil mt-5"></span> New? click here to Signup</a>

                                      
                  </div> 
            </form>      


                </div>


                <div id="forgotPasswordForm" class=" col-md-12 col-lg-4 formCustom" style="display:none; height:500px">
                    <form>
                        <div class="form-group" style="position:relative;top:5vh;">
                            <label style="font-size:2vh;" for="usr">Email:</label>
                            <input style="height: 4vh;font-size:2vh;" type="text" class="form-control" id="emailForgot">
                          </div>
                          <div class="form-group" style="position:relative;top:7vh;">
                            <a class='login' onclick="forgotPassword(event)"><span class="glyphicon glyphicon-pencil"></span> Retrieve Pin</a>
                                              
                          </div> 
                    </form>      
        
        
                          <a onclick="location.replace('/signup')" class='login'style="top:20vh;"><span class="glyphicon glyphicon-pencil"></span> New? click here to Signup</a>
                        </div>    
            <div class="d-none d-sm-block col-sm-3 col-md-3 col-lg-4 "></div>

        </div>

    </div>
    
<%- include ("../partial/_footer.ejs"); %>