<%- include ("../partial/_header.ejs"); %>
<div style="text-align:center">
    <h1 class="d-none d-sm-block">LOGGED IN!</h1>
    <a href="/logout">LOGOUT</a>
</div>

<%- include ("../partial/_footer.ejs"); %>