<%- include ("../partial/_header.ejs"); %>
    <div class="container">
        <div class="row" style="position: relative; top:10vh" >
            
            <div class=" col-md-0 col-lg-4"></div>
            <div class="col-md-12 col-lg-4 formCustom">
            <form>
                <div class="form-group" style="position:relative;top:5vh;">
                    <label  for="emailaddress~TEMP~">Email address</label>
                    <input style="font-size:2vh;height: 4vh;"type="email" class="form-control" id="email" placeholder="name@example.com"><br>
                    <label  for="firstname">First name:</label><br>
                    <input style="font-size:2vh;height: 4vh;" type="text" class="form-control"id="firstName" name="firstname" placeholder="John"><br>
                    <label  for="lastname">Last name:</label><br>
                    <input style="font-size:2vh;height: 4vh;" type="text" class="form-control"id="lastName" name="lastname" placeholder="Doe">
                    <a onclick='register(event)' class='login'style="top:10vh;"><span class="glyphicon glyphicon-pencil"></span>Signup</a>

                  </div> 
            </form>      

            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-3 col-lg-4 "></div>

        </div>

    </div>

<%- include ("../partial/_footer.ejs"); %>