<%- include ("../partial/_header.ejs"); %>
<%- include ("../partial/_signupheader.ejs"); %>
    <div class="container">
        <div class="row" style="position: relative; top:10vh" >
            
            <div class=" col-md-0 col-lg-4"></div>
            <div class="col-md-12 col-lg-4 formCustom">
            <form>
                <div class="form-group" style="position:relative;top:5vh;height:480px;">
                    <label  for="emailaddress">Email address</label>
                    <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="email" class="form-control" id="email" placeholder="name@example.com"><br>
                    <label  for="phone">Phone Number</label>
                    <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="Phone" class="form-control" id="phone" placeholder="123-456-7890"><br>
                    <label  for="firstname">First name:</label><br>
                    <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);" type="text" class="form-control"id="firstName" name="firstname" placeholder="John"><br>
                    <label  for="lastname">Last name:</label><br>
                    <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74); ;" type="text" class="form-control"id="lastName" name="lastname" placeholder="Doe">
                    <a onclick='register(event)' class='login'><span class="glyphicon glyphicon-pencil"></span>Signup</a>

                  </div> 
            </form>      

            </div>
            <div class="d-none d-sm-block col-sm-3 col-md-3 col-lg-4 "></div>

        </div>

    </div>
<%- include ("../partial/_footer.ejs"); %>