<div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li id="homeNav" class="nav-item active">
        <a class="nav-link slarg" href="/">Home<span class="sr-only">(current)</span></a>
      </li>
      <li id="aboutNav" class="nav-item">
        <a class="nav-link larg" href="/about">About</a>
      </li>
      <li id="signupNav" class="nav-item">
        <a class="nav-link larg" href="/signup">Signup</a>
      </li>
      <li id="loginNav" class="nav-item">
        <a class="nav-link larg" href="/login">Login</a>
      </li>
    </ul>
    <span class="navbar-text larg d-none d-lg-block">
          Zion Lutheran Church
  </span>
  </div>
</nav>

<div class="container">