<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <button class="btn-lg btn-primary" onclick="window.location.href='/logout'">Logout</button>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li id="October2" class="nav-item date active">
          <a class="nav-link" onclick="loadDate('October2')" href="#">October 2</a>
        </li>
        <li id="October3" class="nav-item date">
          <a class="nav-link" onclick="loadDate('October3')" href="#">October 3</a>
        </li>
        <li id="October4" class="nav-item date">
          <a class="nav-link" onclick="loadDate('October4')" href="#">October 4</a>
        </li>
        <li id="October9" class="nav-item date">
            <a class="nav-link" onclick="loadDate('October9')" href="#">October 9</a>
        </li>
        <li id="October10" class="nav-item date">
            <a class="nav-link" onclick="loadDate('October10')" href="#">October 10</a>
        </li>
        <li id="October11" class="nav-item date">
            <a class="nav-link" onclick="loadDate('October11')" href="#">October 11</a>
        </li>
      </ul>
    </div>
  </nav>
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li id="1" class="nav-item shift active">
          <a class="nav-link" href="#" onclick="loadShift('1')">Shift 1</a>
        </li>
        <li id="2" class="nav-item shift">
          <a class="nav-link" href="#" onclick="loadShift('2')">Shift 2</a>
        </li>
        <li id="3" class="nav-item shift">
            <a class="nav-link" href="#" onclick="loadShift('3')">Shift 3</a>
        </li>
      </ul>
    </div>
  </nav>