<div id="signupForm" class="container" style="display: none;">
    <div class="row" style="position: relative; top:3vh" >
        
        <div class="col-md-0 col-lg-4"></div>
        <div class="col-md-12 col-lg-4 formCustom">
        <form>
            <div class="form-group" style="position:relative;top:5vh;height:480px;">
                
                <label  for="phone">Phone Number</label>
                <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="Phone" class="form-control" id="phone" placeholder="123-456-7890"><br>
                
                <a onclick='' class='login'><span class="glyphicon glyphicon-pencil"></span>Signup</a>

              </div> 
        </form>      

        </div>
        <div class="col-md-0 col-lg-4 "></div>

    </div>

</div>