<div id="signupForm" class="container" style="display: none;">
    <div class="row" style="position: relative; top:3vh" >
        
        <div class="col-md-0 col-lg-4"></div>
        <div class="col-md-12 col-lg-4 formCustom">
        <button class="float-left" onclick="closeSignup()">Back</button>
        <form>
            
            <div class="form-group" style="position:relative;top:5vh;height:480px;">
                
                <label  for="name">Name</label>
                <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="text" class="form-control" name="name" id="name"><br>
                
                <label  for="phone">Phone Number</label>
                <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="text" class="form-control" name="phone" id="phone"><br>

                <label  for="job">Job</label>
                <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="text" class="form-control" readonly="readonly" id="job"><br>

                <label  for="sub">Submitted By</label>
                <input style="font-size:20px;height: 40px; background-color:rgba(255, 255, 255, 0.74);"type="text" class="form-control" readonly="readonly" id="sub"><br>

                <a onclick='signup()' class='login'><span class="glyphicon glyphicon-pencil"></span>Signup</a>

              </div> 
        </form>      

        </div>
        <div class="col-md-0 col-lg-4 "></div>

    </div>

</div>